body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

section {
    overflow: hidden;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 35px;
}

h2 {
    font-size: 23px;
    margin: 53px 0 14px 0;
    font-weight: 700;
    display: table;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

p, a {
    font-size: 18px;
    line-height: 1.65;
    margin: 0 0 20px 0;
    color: #000000;
}

a {
    font-weight: 400;
}

a:hover {
    color: #2941f5;
}

a i {
    font-size: 14px;
}

blockquote {
    margin: 40px 0;
    padding: 0 30px;
    font-size: 22px;
    color: #000;
    font-family: georgia, serif;
    line-height: 1.5;
}

blockquote a {
    font-size: 22px;
}

figure {
    margin-left: 0;
    margin-right: 0;
}

figure img {
    width: 100%;
    margin: 40px auto;
    border-radius: 10px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    margin-bottom: 40px;
}

figcaption a {
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
}

code    {
    display: block;
    background: #f8f9fb;
    padding: 15px;
    font-size: 15px;
    font-family: "Menlo", monospace;
    line-height: 1.5;
}

.Image--left {
    width: 250px;
    display: inline-block;
    margin: 20px 70px 20px 0;
    float: left;
}

.Image--right {
  width: 250px;
  display: inline-block;
  margin: 20px 0px 20px 70px;
  float: right;
}

ol, ul {
    margin-bottom: 30px;
}

li {
    margin-top: 10px;
    line-height: 1.5;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #808080;
}

td  {
    padding: 9px;
}

/** Spacing **/

.MA { 
    margin-left: auto !important; 
    margin-right: auto !important; 
}

.MB { margin-bottom: 3px !important; }
.MB--4 { margin-bottom: 4px !important; }
.MB--8 { margin-bottom: 8px !important; }
.MB--10 { margin-bottom: 10px !important; }
.MB--20 { margin-bottom: 20px !important; }
.MB--30 { margin-bottom: 30px !important; }
.MB--40 { margin-bottom: 40px !important; }
.MB--50 { margin-bottom: 50px !important; }
.MB--60 { margin-bottom: 60px !important; }
.MB--70 { margin-bottom: 70px !important; }
.MB--80 { margin-bottom: 80px !important; }
.MB--120 { margin-bottom: 120px !important; }


/** Custom Styles **/

.Body--todotab {
    background-color: #FBF6E9;
}

.Wrapper {
    width: 800px;
    box-sizing: border-box;
    padding: 70px 0 70px 140px;
    overflow: hidden;
}

.Wrapper--project {
    width: 100%;
    padding: 70px 140px;
    overflow: visible;
}

.Wrapper--Playlist {
    width: 900px;
    padding: 70px 0 70px 140px;
}

.Wrapper--Title {
    width: 660px;
}

.Wrapper--Custom {
    width: 900px;
    margin-bottom: 80px;
    position: relative;
}

.Logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 43px;
}

.Break {
    text-align: center;
    padding: 30px 0;
}

.Signature {
    float: right;
    margin-top: 70px;
}


.Button {
    padding: 10px 30px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 15px;
    display: block;
    text-align: center;
    margin: 0;

    background: #27ae60; /* Old browsers */
    background: -moz-linear-gradient(top, #27ae60 0%, #26a15f 100%);
    background: -webkit-linear-gradient(top, #27ae60 0%,#26a15f 100%);
    background: linear-gradient(to bottom, #27ae60 0%,#26a15f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27ae60', endColorstr='#26a15f',GradientType=0 );
    transition: all 200ms ease-in-out;
}

.Button--small {
  padding: 5px 15px;
  font-size: 13px;
}

.Button--disabled,
.Button--disabled:hover {
    background: #cccccc !important;
    color: #808080 !important;
    box-shadow: none !important;
}

.Button:hover {
	color: white;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
}

.Releases {
    width: 500px;
    list-style: none;
    padding: 0;
}

.Release {
    padding-bottom: 30px;
}

.Release__Version {
    font-size: 16px;
    margin-top: 0;
}

.Release__Status--done {
    color: #27ae60;
}

.Release__Date {
    font-size: 14px;
    color: #808080;
    margin-top: 0;
}

.Release__Note {
    font-size: 16px;
    line-height: 1.5;
}

.ProjectBanner {
  border-radius: 10px;
  box-sizing: border-box;
}

.ProjectBanner--Writing {
  position: relative;
  padding-left: 270px;
}

.ProjectBanner--Writing .Writing__Description {
  margin-bottom: 0;
}

.ProjectBanner--Writing__Mockup {
  width: 250px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.ProjectBanner--Drawings {
  /*display: flex;
  justify-content: space-between;*/
}

.ProjectBanner--Drawings img {
  /*width: 49%;*/
  width: 80%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.ProjectBanner--Playlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0px;
}

.ProjectBanner--Playlist a {
  margin-bottom: 10px;
}

.ProjectBanner--Playlist img {
  width: 210px;
  align-self: flex-start;
  /*border-radius: 5px;*/
}

.ProjectBanner--Playlist div {
  width: 220px;
  display: flex;
  background: #333;
  border-bottom-right-radius: 130px;
}

.ProjectBanner--Playlist div a {
  align-self: center;
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 23% 18%;
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.3;
}

.ProjectBanner--Chapi {
  background: #E9F4FB;
  box-sizing: border-box;
  padding: 40px;
  padding-left: 360px;
  position: relative;
  overflow: hidden;
}

.ProjectBanner--Chapi__Mockup {
  position: absolute;
  width: 480px;
  top: 75px;
  left: -90px;
}

.ProjectBanner--TodoTab {
  background: #FBF6E9;
  box-sizing: border-box;
  padding: 40px;
  padding-left: 360px;
  position: relative;
  overflow: hidden;
}

.ProjectBanner--TodoTab__Mockup {
  position: absolute;
  width: 480px;
  top: 55px;
  left: -90px;
}

.ProjectBanner--TodoTab__Logo {
  width: 40px;
}

.ProjectBanner--TodoTab__Title {
  font-size: 25px;
  font-weight: 900;
  margin: 0;
}

.ProjectBanner--Behance {
  background: #004de3;
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 60px;
  box-sizing: border-box;
  /*! align-items: unset; */
  border-radius: 100px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
  line-height: 1;
  color: white;
}

.ProjectBanner--Behance:hover {
  color: white;
  text-decoration: underline
}

.Design__Button {
  width: auto;
  display: table;
}

/** Home Page Greeting **/
.Greetings, .Greetings__Link {
    font-family: georgia;
    font-size: 36px;
    line-height: 1.35;
    font-weight: 400;
    margin: 0 0 50px 0;
}

.Greetings__Link {
}

.Greetings__Link--read {
    color: #3498db !important;
}

.Greetings__Link--see {
    color: #e67e22 !important;
}

.Greetings__Link--listen {
    color: #9b59b6 !important;
}

.Greetings__Link:hover {
    text-decoration: underline;
}

.Banner__Playlist {
    display: block;
    width: 380px;
    margin: 80px 0 30px 0px;
    /* float: right; */
}

#home h2 {
    color: #808080;
    font-family: georgia;
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 50px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    /*text-align: center;*/
    display: block;
/*    border:1px solid #eee;
    border-left: 0;
    border-right: 0;*/
    /*padding: 5px 20px;*/
}

.ViewMore {
    margin-bottom: 50px;
}

.HomeSection {
    margin-bottom: 50px;
}

.Shape {

}

.Shape--diamond {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    line-height: 1;
    background: #27ae60;
    display: inline-block;
    border-radius: 15px;
}

/** Navigation **/

.Navigation {
    margin-bottom: 70px;
}

.Navigation__Item {
    display: inline-block;
    list-style: none;
    margin-right: 38px;
    padding-bottom: 7px;
    box-sizing: border-box;
}

.Navigation__Item--selected {
    border-bottom: 4px solid #27ae60;
}

.Navigation__Link {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.1px;
    text-decoration: none;
    color: #808080;
}

.Navigation__Item--selected .Navigation__Link {
    color: #000;
}


/** Writings **/

.Notes {
  margin: 0 0 60px 0;
    overflow: hidden;
}

.Notes iframe {
    border: 0;
    width: 100%;
}

.Writings {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Writing {
    margin: 0 0 50px 0;
}

.Writing__Title {
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 3px 0;
}

.Writing__Title a {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
    /* text-decoration: none; */
}

.Writing__Title a:hover {
    text-decoration: underline;
}

.Writing__Label {
    color: #808080;
    margin: 0 0 7px 0;
    font-size: 14px;
    /* letter-spacing: 0.1px; */
    text-transform: capitalize;
}

.Writing__Description, .Writing__Description a {
    font-size: 14px;
    line-height: 1.55;
}

/** Radio **/
.Stations {
    list-style: none;
    margin: 0;
    padding: 0;
    /*display: flex;
    justify-content: space-between;
    flex-wrap: wrap;*/
}

.Station {
    width: 660px;
    position: relative;
    margin: 0 0 60px 0;
    display: flex;
}

.Station__Art {
    width: 200px;
    flex-shrink: 0;
    align-self: baseline;
    margin-right: 30px;
}

.Station__Info {}

.Station__Artist {
    /* font-size: 22px; */
    /* font-weight: 700; */
    /* line-height: 1; */
    margin: 0 0 0px 0;
}

.Station__Name {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 5px 0;
}

.Station__Tag {
    font-size: 14px;
    color: #808080;
    margin-bottom: 15px;
}

.Station__Description {
    margin: 0;
    font-size: 14px;
    line-height: 1.55;
}

.Station__Play {
    width: auto;
    background: #27ae60;
    display: table;
    color: white;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.2px;
    padding: 3px 9px 3px 6px;
    border-radius: 3px;
    cursor: pointer;
    margin: 15px 0;
}

.Station__Play:hover {
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.2);
}

.Station__Play svg {
    width: 16px;
    fill: #ffffff;
    margin: 1px 4px 0 0;
    float: left;
}

.Station__Playlist {
  list-style: none;
  padding: 0;
}

.Station__PlaylistHeader {
  font-size: 14px;
}

.Station__PlaylistTrack {}

.Station__PlaylistTrack img {
  width: 80px;
  float: left;
}

.Station__AlbumGrid {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.Station__AlbumGrid img {
  width: 20%;
  align-self: flex-start;
}

.Station__AlbumGrid .empty {
  width: 20%;
  align-self: flex-start;
  font-size: 40px;
  text-align: center;
}

/* .Play	{
    width: 44px;
    height: 44px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 44px;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 15px;
    right: 10px;
    cursor: pointer;
    transition: all 100ms ease-in-out 0s;
} */

/* .Play img {
    opacity: 0.5;
}

.Play:hover {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.5);
}

.Play:hover img {
    opacity: 1;
} */



/** Footer **/

footer {
    margin: 105px 0;
    clear: both;
}

.Honor {
    width: 100px;
    margin: 70px 0 0 0;
    position: relative;
}

.Honor__Image {
    width: 100%;
    cursor: pointer;
}

.Honor__Message {
    font-family: georgia;
    position: absolute;
    top: 3%;
    left: 130px;
    font-size: 13px;
    line-height: 1.5;
    padding: 10px 15px;
    border-radius: 5px;
    width: 220px;
    background: #eee;
    color: #808080;
    display: none;
}

.Honor:hover .Honor__Message {
    display: block !important;
}

footer nav {
    list-style: none;
}

footer nav li {
    margin-bottom: 14px;
}

footer nav li a {
    font-family: georgia;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 0.5px;
}

footer nav li a:hover {
    text-decoration: underline;
}


/** 404 Page **/

.dominos-404 {
  margin:0;
  padding:0;
  list-style: none;
  /*text-align:center;*/
  margin-bottom: 60px;
}

.dominos, .dominos-null {
  width: 96px;
  height: 200px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px solid #E1E1E1;
  position: relative;
  display: block;
  margin:auto;
  margin-top:10px;
}

.dominos-null {
  width:200px;
  height:96px;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media only screen and (min-width: 480px) {
  .dominos, .dominos-null {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
  }

  .dominos:first-child,
  .dominos-null:first-child { margin-left:0; }

  .dominos:last-child,
  .dominos-null:last-child { margin-right:0; }

  .dominos-null {
    width: 96px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.dominos-dot {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #000000;
  border-radius: 30px;
}

.one { top:13px; left:13px; }
.two { top:13px; left:63px; }
.three { top:60px; left:13px; }
.four { top:60px; left:63px; }
.five { top:120px; left:13px; }
.six { top:120px; left:63px; }
.seven { top:167px; left:13px; }
.eight { top:167px; left:63px; }


.dominos-dot-green, .dominos-dot-green-null {
  width: 8px;
  height:8px;
  border-radius: 10px;
  background-color:#27AE60;
  display: block;
  margin:auto;
  margin-top:5px;
}

.dominos-dot-green-null {
  margin-top: 44px;
}

.dominos-separator, .dominos-separator-null {
  text-align:center;
  position: absolute;
  background-color: #E1E1E1;
  top: 90px;
  width: 97px;
  height: 20px;
}

.dominos-separator-null {
  width:20px;
  height:97px;
  top:0;
  left:90px;
  display:table;
}

@media only screen and (min-width: 480px) {
  .dominos-separator-null {
    top: 90px;
    left:0;
    width: 97px;
    height: 20px;
  }

  .dominos-dot-green-null {
    margin-top: 5px;
  }
}

#player	{
    position: fixed;
    width: 1px;
    height: 1px;
    top: -10px;
    right: -10px;
}

/** Default **/
.Design {
    margin-bottom: 70px;
}

.Design__Info {
    padding: 0px 35px;
    box-sizing: border-box;
}

.Design__Title {
    margin: 0 0 7px 0;
}

.Design__Description, .Design__Description a    {
    margin: 0;
    font-size: 14px;
    line-height: 1.55;
}

/** Facemash **/
.Design__Facemash {
    display: flex;
}

.Facemash__Banner {
    width: 380px;
    flex-grow: 0;
    flex-shrink: 0;
}
.Facemash__Banner img {
    width: 100%;
}

/** Motorcycle Diaries **/
.Design__MC .Design__Info {
    padding: 0; 
    margin-bottom: 14px;
    overflow: hidden
}

.MC__Cover {
    width: 200px;
    float: left;
    margin: 0 35px 0 0;
}

.MC__Banner {
    display: flex;
    flex-wrap: wrap;
}

.MC__Banner img {
    width: 200px;
    align-self: center;
    margin: 0 14px 14px 0;
}

.MC__Banner a {
    margin: 0;
    line-height: 0;
}

/** Stamp Design **/
.Design__Stamps .Design__Info   {
    padding: 0;
    width: 400px;
}

/** Vertical Poster **/
.Design__Poster {
    display: flex;
}

.Design__Poster--flip {
    flex-direction: row-reverse;
}

.Design__Poster--flip .Design__Info {
    padding: 0 35px 0 0;
}

.Poster__Banner {
    width: 320px;
    flex-grow: 0;
    flex-shrink: 0;
}
.Poster__Banner img {
    width: 100%;
}

/** Nepal Poster **/
.Design__Nepal .Design__Info   {
    padding: 0;
    width: 400px;
}

.Nepal__Banner {
    display: flex;
    justify-content: space-between;
}
.Nepal__Banner img {
    width: 320px;
    align-self: center;
    margin: 35px 0 0 0;
}

/** Signature Series **/

.Design__Sign .Design__Info {
    padding: 0;
    width: 400px;
    margin: 0 0 35px 0;
}

.Design__Sign .Design__Banner {
    display: flex;
    flex-wrap: wrap;
}

.Design__Sign .Design__Banner img {
    width: 220px;
    align-self: center;
}

/** Movie Poster **/

.Design__Movie .Design__Info    {
    padding: 0;
    width: 400px;
    margin: 0 0 35px 0;
}

.Design__Movie .Design__Banner   {
    display: flex;
    justify-content: space-between;
}

.Design__Movie .Design__Banner img {
    width: 210px;
    align-self: center;
}

/** Git Ninjas **/
.Design__Git    {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Design__Git .Design__Info  {
    width: 49%;
    padding-left: 15px;
}

.Design__Git img    {
    width: 49%;
    align-self: center;
    margin-bottom: 20px;
}

/**
 * Article Special Styles
 */

.WireframingKit {
    text-align: center;
    margin-bottom: 70px;
}

.WireframingKit__Crate  {
    background: #deffe7;
    padding: 30px;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 60px;
}

.WireframingKit__Crate h1,
.WireframingKit__Crate p {
    margin-bottom: 0;
}

.WireframingKit__Title {
    margin-bottom: 0px;
}

.WireframingKit__Description {
    color: #808080;
    margin: 0;
}

.WireframingKit__CTA {
    text-decoration: none;
    padding: 11px 39px;
    background-color: #27ae60;
    border-radius: 3px;
    color: white;
    display: table;
    margin: 35px auto;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.WireframingKit__CTA:hover {
    color: white !important;
}

.hlite {
    background-color: rgba(255, 251, 87, 0.15);
}

hr {
    width: 80px;
    border: 0;
    border-top: 4px solid #000;
    float: left;
}

.GithubRepo {
    width: 80%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: flex;
    box-shadow: 0 2px 6px 1px #33333330;
    margin: 53px 0 14px 30px;
    overflow: hidden;
    padding: 10px 20px;
    box-sizing: border-box;
}

.GithubRepo img {
    width: 100px;
    align-self: center;
    margin-right: 20px;
}