.PlaylistContainer {
	overflow: visible;
}

/* Playlist Jackie Chan */
.Playlist--JackieChan	{
	width: 100%;
	height: 585px;
	position: relative;
}

.Playlist--JackieChanContentWrapper	{
	display: flex;
}

.Playlist--JackieChanAlbumArt	{
	width: 274px;
	margin-right: 30px;
	align-self: baseline;
}

.Playlist--JackieChanContent 	{
	width: 460px;
}

.Playlist--JackieChanArt {
	width: 640px;
	position: absolute;
	bottom: 0;
	right: -187px;
	z-index: -5;
}

.Playlist--JackieChanQuote	{
	width: 200px;
	position: absolute;
	bottom: 81px;
	left: 126px;
	z-index: -5;	
}

/* Playlist Sushant */
.Playlist--Sushant	{
	column-count: 3;
	column-gap: 40px;
}

.Playlist--Sushant .Station__AlbumGrid {
	margin-top: 20px;
}

.Playlist--Sushant-Guitar {
	width: 150px;
	position: absolute;
	bottom: 150px;
	right: -200px;
}

.Playlist--Sushant-Guitar-2 {
	width: 300px;
	position: absolute;
	bottom: 0px;
	right: -200px;
	transform: rotate(180deg);
}

.Playlist--Sushant-Fleurons {
	width: 100px;
	display: block;
	margin-left: -10px;
}

.PlaylistArt {
	width: 100%;
	margin-bottom: 20px;
}

.Playlist--Sushant .Albumart {
	width: 60px;
	float: left;
	display: inline;
	margin: 0 10px 10px 0;
}

.Playlist--Sushant .Track {
	margin: 0;
	font-size: 15px;
	margin-bottom: 3px;
}

.Playlist--Sushant .Track span {
	font-size: 13px;
	color: #808080;
}

.Playlist--Sushant .Description {
	font-size: 14px;
	line-height: 1.55;
}

/** Playlist Chicano Blues **/
.Playlist--ChicanoBlues	{
	width: 100%;
	height: 650px;
	position: relative;
}

.Playlist--ChicanoBluesCar {
	position: absolute;
	width: 685px;
	left: 0;
	bottom: 15px;
}

.Playlist--ChicanoBluesDrawings {
	position: absolute;
	width: 200px;
	right: 0;
	bottom: 230px;
}

.Playlist--ChicanoBluesPattern {
	position: absolute;
	width: 130px;
	right: 0;
	bottom: 70px;
	opacity: 0.7;
}

.Playlist--CustomContentWrapper	{
	display: flex;
}

.Playlist--CustomAlbumArt	{
	width: 274px;
	margin-right: 30px;
	align-self: baseline;
}

.two-column-text	{
	column-count: 2;
	column-gap: 30px;
}

.Playlist--Diszep {
	width: 100%;
	height: 776px;
	position: relative;
}

.Playlist--Diszep-Title {
	width: 395px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.Playlist--Diszep-Hind {
	width: 850px;
	position: absolute;
	top: -11px;
	left: 18px;
	z-index: 1;
}

.Playlist--Diszep-Note {
	width: 380px;
	z-index: 0;
	position: absolute;
	background: #FF0000;
	padding: 270px 30px 30px 30px;
	box-sizing: border-box;
	left: 443px;
	top: 160px;
	bottom: 0;
}

.Playlist--Diszep-Note p {
	color: white;
	font-size: 14px;
    line-height: 1.55;
}

.Playlist--Diszep-Tracks {
	color: #808080;
	font-size: 10px;
	text-align: right;
	position: absolute;
	left: 64px;
	bottom: 0;
	width: 350px;
	margin: 0;
}

.Playlist--Indonesia {
	width: 100%;
	background: #DCF1F9;
	position: relative;
}

.Playlist--Indonesia .Content {
	padding: 0 220px 50px 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	column-count: 2;
	column-gap: 40px;
	position: relative;
}

.Playlist--Indonesia .Content p {
	font-size: 14px;
	line-height: 1.55;
}

.dropcap:first-letter {
	float: left;
	font-family: Georgia;
	font-size: 75px;
	line-height: 60px;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 3px;
    font-weight: 900;
}

.Playlist--Indonesia-Sidebar   {
    position: absolute;
    right: -210px;
    top: 0;
    width: 400px;
}

.Playlist--Indonesia .Andi-picture {
	width: 100%;
}

.Playlist--Indonesia .Andi-note {
    width: 260px;
    background-color: #F8F9FB;
    padding: 15px;
    margin: 50px 0 0 20px;
    position: relative;
}

.Andi-note p a{
    font-size: 14px;
}

.Andi-note__Map	{
	width: 100%;
}

.Andi-note__Map img {
	width: 100%;
}

.Playlist--Indonesia .Andi-note-top {
    width: 100%;
    position: absolute;
    top: -30px;
    left: 0;
}

.Playlist--Indonesia .Andi-note-bottom {
    width: 100%;
    position: absolute;
    bottom: -40px;
    left: 0;
}

.Playlist--Indonesia-ImageWrapper	{
	width: 100%;
	position: relative;
	height: auto;
}

.Playlist--Indonesia-ImageContent	{
	position: absolute;
	top: 50px;
	left: 50px;
	width: 400px;
}

.Playlist--Indonesia-ImageContent h2	{
	font-size: 35px;
	margin: 0 0 15px 0;
	line-height: 1.17;
}

.Playlist--Indonesia-ImageContent p	{
	font-size: 14px;
	line-height: 1.55;
}

.Playlist--Indonesia .Content blockquote	{
	margin: 0 0 30px 0;
	padding: 0 0px;
	font-size: 16px;
	color: #000;
	font-family: georgia, serif;
	line-height: 1.55;
    font-style: italic;
}

.Playlist--Indonesia .Content h3 {
    margin: 0 0 13px 0;
    font-size: 25px;
    line-height: 28px;
    display: block;
    color: #000;
}

.Splitter {
    display: flex;
    list-style: none;
    height: 23px;
    margin: 60px 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    width: 60px;
}

.Radio	{
    width: 300px;
    position: fixed;
    bottom: 100px;
    right: 20px;
    padding: 10px 0 0 0;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    justify-content: right;
}

.Radio__StationArt {
    width: 50px;
    margin: 0;
    align-self: flex-end;
}

.Radio__TrackName   {
    font-size: 13px;
    line-height: 1.2;
    font-weight: 600;
    margin: 0;
    background: #eee;
    color: #000;
    padding: 5px 10px;
    align-self: flex-end;
	text-transform: capitalize;
}

.Radio__TrackArtist, .Radio__TrackSource  {
    font-size: 12px;
    line-height: 1.2;
    margin: 0;
    background: #eee;
    color: #000;
    padding: 5px 10px;
    align-self: flex-end;
	text-transform: capitalize;
}

.Radio__TrackSource	{
	font-size: 10px;
	font-weight: 900;
	color: rgba(0,0,0, 0.3);
}


.Radio__Controls    {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
    clear: both;
    align-self: flex-end;
}

.Radio__Controls img {
    align-self: center;
}

.Radio__Button    {
    cursor: pointer;
    opacity: 0.5;
    background-color: rgba(256, 256, 256, 0.9);
    border-radius: 100px;
    padding: 10px;
}

.Radio__Button:hover {
    opacity: 1;
    background-color: #eeeeee;
}

.Radio__Button:active {
    background-color: #ce92246e;
}

.Radio__Button--previous    {
    transform: rotate(180deg);
}

.Radio__Model {
    width: 250px;
    height: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.Radio__Model--Image {
    width: 100%;
}

.Radio__Pivot   {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #eeeeee;
    align-self: flex-end;
    margin-right: 7px;
}

.Playlist--ItalianRock	{
	display: flex;
}

.Playlist--ItalianRock .content-col	{
	width: 300px;
	flex-grow: 0;
	flex-shrink: 0;
	margin-right: 50px;
}

.Playlist--ItalianRock .content-col-1 	{
	position: relative;
}

.Playlist--ItalianRock .content-col-2	{
	margin-right: 50px;
}

.Playlist--ItalianRockHeader	{
	width: 250px;
	margin-bottom: 15px;
}

.Playlist--ItalianRock p,
.Playlist--ItalianRock a{
	font-size: 14px;
	line-height: 1.55;
}

.Playlist--ItalianRockAmalfi	{
	position: absolute;
	bottom: 10px;
	left: -203px;
	z-index: -1;
	width: 833px;
}

.Playlist--ItalianRockStamps	{
	width: 650px;
	margin-left:-2px;
}

/** Playlist Ros **/

.Playlist--Ros-BannerWrapper	{
	position: relative;
	width: 100%;
	height: 508px;
}

.Playlist--Ros-Banner	{
	position: absolute;
	top: 0;
	left: -140px;
	width: 1200px;
}

.Playlist--Ros .Content {
	padding: 0 50px 30px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	column-count: 2;
	column-gap: 50px;
	position: relative;
}

.Playlist--Ros .Content p,
.Playlist--Ros .Content p, a{
	font-size: 14px;
	line-height: 1.55;
	hyphens: auto;
}

.Playlist--Ros-FirstPara	{
	margin-top: 150px;
}

.Playlist--Ros-Sidebar	{
	position: absolute;
	right: -220px;
	top: 200px;
	width: 242px;
}

/** Playlist Vietnam **/

.Playlist--Vietnam-BannerWrapper	{
    position: relative;
    width: 100%;
    height: 830px;
}

.Playlist--Vietnam-Banner	{
    position: absolute;
    top: 0;
    left: -140px;
    width: 1200px;
}

.Playlist--Vietnam .Content {
    padding: 0 0 30px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	justify-content: space-between;
    column-count: 2;
    column-gap: 50px;
    position: relative;
	display: flex;
	text-align: justify;
}

.Playlist--Vietnam .Content h2	{
	font-size: 20px;
	margin: 30px 0 15px 0;
}

.Playlist--Vietnam .Content .Content-Col-1	{
	width: 480px;
	flex-shrink: 0;
}

.Playlist--Vietnam .Content .Content-Col-2	{
	width: 370px;
	flex-shrink: 0;
}

.Playlist--Vietnam .Content p,
.Playlist--Vietnam .Content p, a{
    font-size: 14px;
    line-height: 1.55;
    hyphens: auto;
}

.Playlist--Vietnam .Content blockquote	{
	margin: 0 0 50px 0;
	padding: 0 0px;
	font-size: 18px;
	color: #000;
	font-family: monospace;
	line-height: 1.4;
	font-weight: 500;
	text-align: left;
}

.Playlist--Vietnam .Content blockquote i {
	font-size: 14px;
}

.Playlist--Vietnam .TrackListing	{
	margin-top: 0;
}

.Playlist--Vietnam-Map  {
    width: 380px;
    float:left;
    margin-left: -150px;
    shape-outside: polygon(1px 25px, -139px 45px, -96.33% 99.29%, -27.54% 98.87%, 34.02% 84.15%, 65.24% 77.62%, 74.7% 68.49%, 65.61% 52.48%, 33.97% 41.94%, 12.45% 32.03%, 114px 120px);
}

.Playlist--Vietnam-Footer	{
	width: 1100px;
	margin-left:-2px;
}

/** Playlist Sheila Chandra **/

.Playlist--SChandra-BannerWrapper	{
	position: relative;
	width: 100%;
	height: 795px;
}

.Playlist--SChandra-Banner	{
	position: absolute;
	left: -140px;
	width: 1260px;
}

.Playlist--SChandra-Content	{
	width: 100%;
	height: 1100px;
	position: relative;
}

.Playlist--SChandra-Sidebanner	{
	background: #002282;
	width: 260px;
	height: 458px;
	padding: 0 0 47px 0;
	position: absolute;
	top: -185px;
	left: 410px;
}

.Playlist--SChandra-SidebannerContent	{
	position: relative;
}

.Playlist--SChandra-Sidebanner p	{
	font-size: 52px;
	line-height: 1;
	z-index: 1;
	width: 245px;
	height: 468px;
	position: absolute;
	top: 15px;
	left: 20px;
	font-family: "Georgia", "Times New Roman", Serif;
	color: #F7F7FA;
	text-decoration: underline;
	font-weight: 900;
	font-style: italic;
	text-shadow: 5px 4px 1px rgba(0,0,0,1)
}

.Playlist--SChandra-Tajmahal	{
	width: 277px;
	position: absolute;
	top: -149px;
	left: -9px;
	z-index: 1;
}

.Playlist--SChandra-SidebannerPortrait	{
	width: 225px;
	position: absolute;
	top: 164px;
	right: 14px;
	z-index: 0;
}

.Playlist--SChandra-Bird	{
	width: 90px;
	position: absolute;
	top: -100px;
	right: -10px;
	z-index: 0;
}

.Playlist--SChandra-Playlist	{
    width: 280px;
    position: absolute;
    top: -214px;
    left: 700px;
    /*transform: rotate(2deg);*/
}

.Playlist--SChandra-Playlist p	{
	font-size: 14px;
	line-height: 1.55;
	hyphens: auto;
}

.Playlist--SChandra-Playlist .TrackListing	{
	margin-bottom: 30px;
}

.Playlist--SChandra-Article {
    width: 380px;
    height: auto;
    position: absolute;
    top: -20px;
}

.Playlist--SChandra-Article-Side	{
	width: 260px;
	position: absolute;
	top: 345px;
	left: 480px;
}

.Playlist--SChandra-Article .Content,
.Playlist--SChandra-Article-Side .Content {
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    justify-content: space-between;
    position: relative;
    text-align: justify;
}

.Playlist--SChandra-Article .Content p,
.Playlist--SChandra-Article .Content a,
.Playlist--SChandra-Article-Side .Content p,
.Playlist--SChandra-Article-Side .Content a {
    font-size: 14px;
    line-height: 1.55;
    hyphens: auto;
}

.Playlist--SChandra-SteveQuote	{
	width: 285px;
	margin-right: -304px;
	float: right;
	margin-top: -78px;
	margin-left: 10px;
}

.Playlist--SChandra-Footer	{
	width: 110px;
	margin-top: 7px;
	margin-left: -7px;
}

.Playlist--SChandra-Stamps	{
	width: 220px;
	margin-right: -246px;
	float: right;
	margin-top: -166px;
}

/** Playlist Sheila Chandra **/
.Playlist--808 {
	padding-bottom: 70px;
}

.Playlist--808-BannerWrapper	{
	position: relative;
	width: 100%;
	height: 685px;
}

.Playlist--808-BannerHeader	{
	position: absolute;
	left: -140px;
	width: 1260px;
}

.Playlist--808 .Content {
	width: 1000px;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	position: relative;
	text-align: justify;
}

.Playlist--808-Columise {
	column-count: 3;
	column-gap: 50px;
	-webkit-column-rule: 1px dotted #808080; /* Chrome, Safari, Opera */
	-moz-column-rule: 1px dotted #808080; /* Firefox */
	column-rule: 1px dotted #808080;
}

.Playlist--808 p,
.Playlist--808 a {
	font-size: 14px;
	line-height: 1.55;

	-webkit-hyphens: auto;
	-webkit-hyphenate-limit-before: 3;
	-webkit-hyphenate-limit-after: 3;
	-webkit-hyphenate-limit-chars: 6 3 3;
	-webkit-hyphenate-limit-lines: 2;
	-webkit-hyphenate-limit-last: always;
	-webkit-hyphenate-limit-zone: 8%;

	-moz-hyphens: auto;
	-moz-hyphenate-limit-chars: 6 3 3;
	-moz-hyphenate-limit-lines: 2;
	-moz-hyphenate-limit-last: always;
	-moz-hyphenate-limit-zone: 8%;

	-ms-hyphens: auto;
	-ms-hyphenate-limit-chars: 6 3 3;
	-ms-hyphenate-limit-lines: 2;
	-ms-hyphenate-limit-last: always;
	-ms-hyphenate-limit-zone: 8%;

	hyphens: auto;
	hyphenate-limit-chars: 6 3 3;
	hyphenate-limit-lines: 2;
	hyphenate-limit-last: always;
	hyphenate-limit-zone: 8%;
}

.Playlist--808 h2 {
	margin: 0;
	font-size: 100px;
	font-weight: 900;
	letter-spacing: -8px;
	display: block;
	text-transform: uppercase;
	position: absolute;
	transform: rotate(-90deg);
	color: #cccccc;
}

.Playlist--808 h3 {
	margin: 0 0 5px 0;
	font-size: 42px;
	font-weight: 900;
	letter-spacing: -1px;
	display: block;
}

.Playlist--808-Heading-PartOne	{
	top: 148px;
	left: -326px;
}

.Playlist--808-Heading-PartTwo	{
	top: 157px;
	left: -334px;
}

.Playlist--808-Heading-PartThree	{
	top: 190px;
	left: -378px;
}

.Playlist--808-Heading-PartEnd	{
	top: 125px;
	left: -298px;
}

.Playlist--808-End-of-Part	{
	color: #ccc;
	text-transform: uppercase;
	font-size: 70px !important;
	text-align: left;
	line-height: 0.8;
	letter-spacing: -4px !important;
	margin: 0 !important;
}

.Playlist--808 .TrackListing	{
	margin-bottom: 30px;
}

.Playlist--808 .heading	{
	width: 90%;
	margin: 10px 0;
}

.Playlist--808-Collage	{
	width: 125%;
	margin: 0 0 0 -140px;
}

.Playlist--808-Stamp	{
    width: 300px;
    margin: 60px 0 60px -24px;
}


.Playlist--808-Footer	{
	width: 666px;
	display: flex;
	margin-top: 60px;
}

.Playlist--808-Footer-Reference {
	width: 49%;
	box-sizing: border-box;
	padding-right: 25px;
	border-right: 1px dotted;
}

.Playlist--808-Footer-Bonus {
	width: 50%;
	box-sizing: border-box;
	padding-left: 25px;
	padding-right: 8px;
}

.Playlist--808-ReferenceList {
	font-size: 14px;
	padding-left: 15px;
    text-align: left;
}

.Playlist--808-ReferenceList li {
	margin-top: 12px;
}

.Playlist--808-ReferenceList li a {
	text-transform: capitalize;
}

.Playlist--808-ReferenceMovie {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.Playlist--808-ReferenceMovie a {
	width: 47%;
    margin-bottom: 10px;
}

.Playlist--808-ReferenceMovie a img {
	width: 90%;
	border-radius: 10px;
}

.Playlist--808-Footer-Banner {
    width: 100%;
    margin: 60px 0 0 -200px;
}